/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One:ital,wght@0,300..900;1,300..900&display=swap'); */
*{
    /* app-wide default colors */
    --appWindowBGColor: rgb(70, 75, 64);
    --appWindowBorderColor: rgb(136, 138, 130);
    --appTextColor: #ddd;
        
    --appHeaderBGColor: rgb(255,202,112);
    --appHeaderTextColor: #333;
    
    --appLogoText: #333;
    --appLogoTextAccent: rgb(207,72,66);
    --appLogoTextAlt: #c00;
    
    --appNavBGColor: rgb(236,113,97);
    --appNavItemBorderColor: rgb(114, 119, 104);
    --appNavItemTextColor: rgb(53, 52, 50);
    --appNavItemTextHoverColor: rgb(133, 127, 126);

    --appContentBGColor: #ffffee;
    --appContentTextColor: #333;
    --appUserImgBorderColor:rgb(173, 175, 165);
    --appUserImgHoverBGColor: #333;
    --appUserCardNameTextColor: #333;

    --appFooterBGColor: rgb(131,193,178);
    --appFooterTextColor: #333;

    --appDialogBorderColor: rgb(53, 52, 50);
    --appDialogBGColor: rgb(160, 133, 86);
}

body
{
    background-color: var(--appContentBGColor);    
    counter-set: maskList;
    font-family: "Rubik";
    display: flex;
    align-items: start;
    justify-content: center;
}

h1
{
    color: var(--appLogoText);
}

.contentWrap
{    
    border: 6px solid var(--appWindowBorderColor);    
    padding: 25px;
    overflow: auto;
    width: 90vw;
    /* min-height: 400px; */
    height: 75vh;
    background-color: var(--appContentBGColor);
}

div.testCase
{
    width: 80vw;
    height: 3em;
    padding: 10px;
    border: 1px solid #333;
}

div#progressBar
{
    width: 100%;
    min-width: 5px;
    height: 10px;
    background-color: #c00;
}
